<form #form="ngForm" (ngSubmit)="process()">

  <div class="form-group">
    <label for="typePresta">Type Prestation</label>
    <input [(ngModel)]="newItem.type_presta" name="type" #nom="ngModel" type="text" class="form-control" id="typePresta" required minlength="4">
    <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">Champs invalide</div>
  </div>

  <div class="form-group">
    <label for="client">Client</label>
    <input [(ngModel)]="newItem.client" name="client" type="text" class="form-control" id="client">
  </div>

  <div class="form-group">
    <label for="nbj">Nb Jours</label>
    <input [(ngModel)]="newItem.nb_jours" name="nbj" type="text" class="form-control" id="nbj">
  </div>

  <div class="form-group">
    <label for="tjm">Tjm HT</label>
    <input [(ngModel)]="newItem.tjm_ht" name="tjm" type="text" class="form-control" id="tjm">
  </div>

  <div class="form-group">
    <label for="tva">Taux TVA</label>
    <input [(ngModel)]="newItem.taux_tva" name="tva" type="text" class="form-control" id="tva">
  </div>

  <div class="form-group">
    <label for="state">Statut</label>
    <select [(ngModel)]="newItem.state" name="state" class="form-control" id="state">
      <option [value]="state" *ngFor="let state of states">{{ state }}</option>
    </select>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>

</form>
